<div class="wrapper">
    <div class="content-wrapper" style="margin-top: 0px;">
       <div class="content-header">
        <div class="card p-2">
          <div class="row">
            <div class="col">
              <label>User</label>
            </div>
            <div class="col">
              <button class="btn btn-primary float-end" *ngIf="!createuser" (click)="createform()">
                CreateUser
              </button>
              <button class="btn btn-primary float-end" *ngIf="createuser" (click)="createform()">
                  showallUsers</button>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="createuser">
          <div class="card-body">
            <!-- <div class="container"> -->
            <!-- <h1>Business</h1> -->

            <form
              #userForm="ngForm"
              (ngSubmit)="userForm.form.valid && userf()">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="userName">UserName</label><br />
                    <input
                      type="text"
                      name="userName"
                      [(ngModel)]="user.userName"
                      class="form-control me-2"
                      type="text"
                      required
                      #userName="ngModel"
                      [ngClass]="{
                        'is-invalid': userForm.submitted && userName.errors
                      }"
                      placeholder="userName"
                    />
                    <div
                      *ngIf="userForm.submitted && userName.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="userName.errors['required']">
                        <span style="color: red">Username is required</span>
                      </div>
                    </div>
                  </div>

                </div>

                <!-- <pre></pre> -->
                <div class="col">
                  <div class="form-group">
                    <label for="firstName">FirstName</label><br />
                    <input
                      type="text"
                      name="firstName"
                      [(ngModel)]="user.firstName"
                      class="form-control me-2"
                      type="text"
                      required
                      #firstName="ngModel"
                      [ngClass]="{
                        'is-invalid': userForm.submitted && firstName.errors
                      }"
                      placeholder="firstName"
                    />
                    <div
                      *ngIf="userForm.submitted && firstName.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="firstName.errors['required']">
                        <span style="color: red">FirstName is required</span>
                      </div>
                    </div>
                  </div>

                </div>
                </div>

              <!-- <pre></pre> -->
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="lastName">LastName</label><br />
                    <input
                      type="text"
                      name="lastName"
                      [(ngModel)]="user.lastName"
                      class="form-control me-2"
                      type="text"
                      required
                      #lastName="ngModel"
                      [ngClass]="{
                        'is-invalid': userForm.submitted && lastName.errors
                      }"
                      placeholder="lastName"
                    />
                    <div
                      *ngIf="userForm.submitted && lastName.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="lastName.errors['required']">
                        <span style="color: red">lastName is required</span>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="mailid">MailId</label><br />
                    <input
                      type="text"
                      name="mailid"
                      [(ngModel)]="user.mailid"
                      class="form-control me-2"
                      type="text"
                      required
                      pattern="[^ @]*@[^ @]*"
                      #mailid="ngModel"
                      [ngClass]="{
                        'is-invalid': userForm.submitted && mailid.errors
                      }"
                      placeholder="mailid"
                    />
                    <div
                      *ngIf="userForm.submitted && mailid.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="mailid.errors['required']">
                        <span style="color: red">MailId is required</span>
                      </div>
                    </div>
                  </div>

                </div>

                <!-- <pre></pre> -->


              </div>

              <!-- <pre></pre> -->
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="password">Password</label><br />
                    <input type="password" name="password" [(ngModel)]="user.password" class="form-control me-2"
                    required minlength="6" maxlength="20" #password="ngModel" [ngClass]="{ 'is-invalid': userForm.submitted && password.errors }"
                    placeholder="password" />
                    <div *ngIf="userForm.submitted && password.errors" class="invalid-feedback">
                      <div *ngIf="password.errors['required']">
                        <span style="color: red;">Password is required</span>
                      </div>
                      <div *ngIf="password.errors['minlength']">
                        <span style="color: red;">Password must be at least 6 characters</span>
                      </div>
                      <div *ngIf="password.errors['maxlength']">
                        <span style="color: red;">userName must not exceed 20 characters</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                <!-- <input
                  type="text"
                  name="password"
                  [(ngModel)]="user.password"
                  class="form-control me-2"
                  type="text"
                  required
                  #password="ngModel"
                  [ngClass]="{
                    'is-invalid': userForm.submitted && password.errors
                  }"
                  placeholder="password"
                />
                <div
                  *ngIf="userForm.submitted && password.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="password.errors['required']">
                    <span style="color: red">password is required</span>
                  </div>
                </div> -->

              <!-- <pre></pre> -->

              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>
        </div>

        <!-- to view enteries rows in a table -->
        <hr />
        <div class="card">
          <div class="card-body">
            <div>
              <h2>User Data View</h2>
              <table class="table text-center table-bordered">
                <!-- table datatable text-center table-bordered -->
                <thead>
                  <th >S.No</th>
                  <th >UserName</th>
                  <th >FirstName</th>
                  <th >LastName</th>
                  <th >MailId</th>
                  <th >Action</th>
                </thead>

                <tbody>
                  <tr *ngFor="let arr of users; let i = index">
                    <td class="p-1">{{ i + 1 }}</td>
                    <td class="p-1">
                      <!-- <div  *ngIf="arr.isEdit"> -->
                      <input
                        class="form-control"
                        type="text"
                        name="userName"
                        [(ngModel)]="arr.userName"
                        *ngIf="arr.isEdit"
                        class="p-1"
                      />
                      <!-- </div> -->

                      <label class="p-1 font-weight-normal" *ngIf="!arr.isEdit">{{
                        arr.userName
                      }}</label>
                    </td>
                    <td class="p-1">
                      <!-- <div  *ngIf="arr.isEdit"> -->
                      <input
                        class="form-control"
                        type="text"
                        name="firstName"
                        [(ngModel)]="arr.firstName"
                        *ngIf="arr.isEdit"
                        class="p-1"
                      />
                      <!-- </div> -->

                      <label class="p-1 font-weight-normal" *ngIf="!arr.isEdit">{{
                        arr.firstName
                      }}</label>
                    </td>
                    <td class="p-1">
                      <!-- <div  *ngIf="arr.isEdit"> -->
                      <input
                        class="form-control"
                        type="text"
                        name="lastName"
                        [(ngModel)]="arr.lastName"
                        *ngIf="arr.isEdit"
                        class="p-1"
                      />
                      <!-- </div> -->

                      <label class="p-1 font-weight-normal" *ngIf="!arr.isEdit">{{
                        arr.lastName
                      }}</label>
                    </td>
                    <td class="p-1">
                      <!-- <div  *ngIf="arr.isEdit"> -->
                      <input
                        class="form-control"
                        type="text"
                        name="mailid"
                        [(ngModel)]="arr.mailid"
                        *ngIf="arr.isEdit"
                        class="p-1"
                      />
                      <!-- </div> -->

                      <label class="p-1 font-weight-normal mr-2" *ngIf="!arr.isEdit">{{
                        arr.mailid
                      }}</label>
                    </td>

                    <td class="p-1">
                      <div *ngIf="arr.isEdit">
                        <!-- <td class="p-1"> -->
                          <!-- <button
                            type="button"
                            class="btn btn-primary mr-2"
                            (click)="updateuser(i)"
                          > -->
                          <i class="bi bi-arrow-up-circle mr-2" (click)="updateuser(i)"></i>
                          <!-- </button> -->
                        <!-- </td> -->
                        <!-- <td class="p-1"> -->
                          <!-- <button
                            type="button"
                            class="btn btn-primary mr-2"
                            (click)="arr.isEdit = false"
                          > -->
                          <i class="bi bi-x-circle mr-2" (click)="arr.isEdit = false"></i>
                          <!-- </button> -->
                        <!-- </td> -->
                      </div>
                      <div *ngIf="!arr.isEdit">
                        <!-- <button
                          type="button"
                          class="btn btn-primary mr-2"
                          (click)="onEdit(arr)"
                        > -->
                        <i class="bi bi-pencil-square mr-2" (click)="onEdit(arr)"></i>
                        <!-- </button> -->

                        <!-- <button
                          type="button"
                          class="btn btn-"

                          (click)="deleteuser(arr.userid)"
                        > -->
                        <i class="bi bi-trash3" (click)="deleteuser(arr.userid)"></i>
                        <!-- </button> -->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- <p>user page works!</p>
       </div>
    </div>
</div>
<div class="container"> -->

    <!-- <h1>Create User</h1>
  <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && userf()">

  <div class="form-group">
      <label for="userName">userName</label><br />
      <input type="text" name="userName" [(ngModel)]="user.userName" class="form-control me-2"
      required minlength="6" maxlength="20" #userName="ngModel"
      [ngClass]="{ 'is-invalid': userForm.submitted && userName.errors }" placeholder="userName" />
      <div *ngIf="userForm.submitted && userName.errors" class="invalid-feedback">
        <div *ngIf="userName.errors['required']">
          <span style="color: red;">userName is required</span></div>
        <div *ngIf="userName.errors['minlength']">
          <span style="color: red;">userName must be at least 6 characters</span>
        </div>
        <div *ngIf="userName.errors['maxlength']">
          userName must be at most 20 characters
        </div>
      </div>
    </div> -->

  <!-- <div class="form-group">
      <label for="firstName">firstName</label><br />
      <input type="text" name="firstName" [(ngModel)]="user.firstName" class="form-control me-2"
      required
      #firstName="ngModel"
      [ngClass]="{ 'is-invalid': userForm.submitted && firstName.errors }" placeholder="firstName" />
      <div *ngIf="userForm.submitted && firstName.errors" class="invalid-feedback">
        <div *ngIf="firstName.errors['required']">
          <span style="color: red;">firstName is required</span></div>
      </div>
  </div>

   <pre></pre> -->
  <!-- <div class="form-group">
    <label for="lastName">lastName</label><br />
    <input type="text" name="lastName" [(ngModel)]="user.lastName" class="form-control me-2"
    required
    #lastName="ngModel"
    [ngClass]="{ 'is-invalid': userForm.submitted && lastName.errors }" placeholder="lastName" />
    <div *ngIf="userForm.submitted && lastName.errors" class="invalid-feedback">
      <div *ngIf="lastName.errors['required']">
        <span style="color: red;">lastName is required</span></div>
    </div>
  </div> -->
     <!-- <pre></pre> -->

   <!-- <div class="form-group">
      <label for="mailid">mailid</label><br />
      <input type="text" name="mailid" [(ngModel)]="user.mailid" class="form-control me-2"
      required pattern="[^ @]*@[^ @]*" email #email="ngModel" [ngClass]="{ 'is-invalid': userForm.submitted && email.errors }"
      placeholder="mailid" />
      <div *ngIf="userForm.submitted && email.errors" class="invalid-feedback">
        <div *ngIf="email.errors['required']">
          <span style="color: red;">MailId is required</span></div>
        <div *ngIf="email.errors['email']">
          <span style="color: red;">MailIdis invalid</span> </div>
      </div>
      </div> -->
      <!-- <pre></pre> -->


     <!-- <div class="form-group">
        <label for="password">password</label><br />

        <input type="text" name="password" [(ngModel)]="user.password" class="form-control me-2"
        required minlength="6" maxlength="20" #password="ngModel" [ngClass]="{ 'is-invalid': userForm.submitted && password.errors }"
        placeholder="password" />
        <div *ngIf="userForm.submitted && password.errors" class="invalid-feedback">
          <div *ngIf="password.errors['required']">
            <span style="color: red;">Password is required</span>
          </div>
          <div *ngIf="password.errors['minlength']">
            <span style="color: red;">Password must be at least 6 characters</span>
          </div>
          <div *ngIf="password.errors['maxlength']">
            <span style="color: red;">userName must not exceed 20 characters</span>
          </div>
        </div>
      </div>
         <!<pre></pre> -->


    <!-- <button class="btn btn-primary" type="submit">Submit</button>
  </form> -->
  <!-- // to view enteries rows in a table -->
  <!-- <hr>
      <div>
        <h2>User Data View</h2>
        <table>
        <thead>
        <th class="tableHead">S.No</th>
        <th class="tableHead">userName</th>
        <th class="tableHead">firstName</th>
        <th class="tableHead">lastName</th>
        <th class="tableHead">mailid</th>
        </thead>
         <tbody >
          <tr *ngFor="let arr of users; let i = index">
            <td>{{i+1}}</td>
            <td>
              <div *ngIf="arr.isEdit">
                <input  type="text" name="userName" [(ngModel)]="arr.userName"  class="formControl"/>
              </div>
              <div *ngIf="!arr.isEdit">{{arr.userName}}
              </div>
            </td>
            <td>
              <div *ngIf="arr.isEdit">
                <input  type="text" name="firstName" [(ngModel)]="arr.firstName"  class="formControl"/>
              </div>
              <div *ngIf="!arr.isEdit">{{arr.firstName}}
              </div>
            </td>
            <td>
              <div *ngIf="arr.isEdit">
                <input  type="text" name="lastName" [(ngModel)]="arr.lastName"  class="formControl"/>
              </div>
              <div *ngIf="!arr.isEdit">{{arr.lastName}}
              </div>
             </td>
            <td>
              <div *ngIf="arr.isEdit">
                <input type="text" name="mailid" [(ngModel)]="arr.mailid"  class="formControl"/>
              </div>
              <div *ngIf="!arr.isEdit">{{arr.mailid}}
              </div>
            </td>
                <div *ngIf="arr.isEdit">
                  <td><button type="button"  (click)="updateuser(i)">Update</button></td>
                  <td><button type="button" (click)="arr.isEdit=false">cancel</button></td>
                </div>
                <div *ngIf="!arr.isEdit">
                  <td><button type="button" (click)="onEdit(arr)">Edit</button></td>
                  <td><button type="button" (click)="deleteuser(arr.userid)">Delete</button></td>
                </div>
          </tr>
         </tbody>
        </table>
    </div> -->
