<div class="row">
    <div class="col-3"></div>
    <div class="col-6" style="top: 50px;">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Login Here</h3>
            </div>


            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    
                   
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary float-right" (click)="SubmitLogin()">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-3"></div>

</div>